#title-edit {
	-fx-font-size: 135%;
    -fx-font-weight: bold;
    -fx-text-box-border: transparent;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 4 3 4 3;
}

.problem {
	-fx-text-fill: red;
}

.title-edit .menu-item {
	-fx-font-size: 100%;
    -fx-font-weight: normal;
    -fx-padding: 5px 5px 5px 5px;
}

#translate-tab {
	-fx-background-color: white;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

#unicode-table .table-cell {
    -fx-font-size: 16px;
  	-fx-alignment: center;
    -fx-padding: 0px 0px 0px 0px;
    -fx-margins: 0px 0px 0px 0px;
}

#unicode-table .column-header-background {
	visibility: hidden;
	-fx-padding: -1em;
}

#block-name {
  -fx-font-size: 150%;
}

#symbols-edit {
  -fx-font-size: 135%;
}

#symbol-box {
  -fx-font-size: 235%;
  -fx-text-box-border: transparent;
  -fx-focus-color: transparent;
  -fx-background-color: -fx-control-inner-background;
  -fx-background-insets: 0;
  -fx-padding: 1 3 1 3;
}

#previous-button {
  -fx-graphic: url("../icons/MT_previous.png");
  -fx-content-display: left;
}

#next-button {
  -fx-graphic: url("../icons/MT_next.png");
  -fx-content-display: right;
}

#upload-button {
  -fx-graphic: url("../icons/MT_upload.png");
}

#pull-button {
  -fx-graphic: url("../icons/MT_pull.png");
}

#horizontal-button {
  -fx-graphic: url("../icons/MT_horizontal.png");
}

#vertical-button {
  -fx-graphic: url("../icons/MT_vertical.png");
}

#align-button {
  -fx-graphic: url("../icons/MT_align.png");
}

#single-button {
  -fx-graphic: url("../icons/MT_single.png");
}

#tag-button {
  -fx-graphic: url("../icons/MT_tag.png");
}

#speller-button {
/*  -fx-graphic: url("../icons/MT_speller.png");*/
}

#reset-button {
/*  -fx-graphic: url("../icons/MT_reset.png");*/
}

#preview-button {
/*  -fx-graphic: url("../icons/MT_preview.png");*/
}

#snippets-select .pagination-control .page-information {
  -fx-opacity: 0;
  visibility: hidden;
}

#align-editor {
  -fx-border-size: 2px;
  -fx-border-color: blue;
}

.centered-column {
	-fx-alignment: CENTER;
}

.increment-button , .decrement-button {
    -fx-padding: 4px;
}

#align-start-button {
  -fx-graphic: url("../icons/media_start_by_inventicons.png");
}

#align-previous-previous-button {
  -fx-graphic: url("../icons/media_previous_previous_by_inventicons.png");
}

#align-previous-button {
  -fx-graphic: url("../icons/media_previous_by_inventicons.png");
}

#align-next-button {
  -fx-graphic: url("../icons/media_next_by_inventicons.png");
}

#align-next-next-button {
  -fx-graphic: url("../icons/media_next_next_by_inventicons.png");
}

#align-end-button {
  -fx-graphic: url("../icons/media_end_by_inventicons.png");
}

#align-control-pane {
  -fx-background-color: derive(-fx-color, -5%);
}

.new-article {
    -fx-effect: innershadow(one-pass-box, steelblue, 2, 2.0, 0, 2);
}

.new-article:selected {
    -fx-effect: innershadow(one-pass-box, steelblue, 1, 1.0, 0, 1);
}

.existing-article { }





